<!DOCTYPE html>
<html ng-app="DataLogger">
<head>
    <title>ToDo API Client Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="http://code.highcharts.com/stock/highstock.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script src="../static/controller.js" type="text/javascript"></script>
</head>
<body ng-controller="HistoryCtrl">
<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="#">ToDo API Client Demo</a>
    </div>
</div>
</div>
<!--<ul ng-repeat="temp in data">-->
<!--<li>{[ temp.temp]} - {[ temp.time ]}</li>-->
<!--</ul>-->

<div id="container" style="height: 400px"></div>
<div id="main" class="container">

</div>

<script>
    var chart; // global

    /**
     * Request data from the server, add it to the graph and set a timeout to request again
     */
    function requestData() {
        $.ajax({
            url: 'api/temp',
            success: function (point) {
                var series = chart.series[0],
                        shift = series.data.length > 20; // shift if the series is longer than 20

                // console.info(point.temp[0][0]);
                var x = point.temp[0][0];
                var y = point.temp[0][1];
                // add the point
                chart.series[0].addPoint([x, y], true, shift);

                // call it again after one second
                setTimeout(requestData, 1000);
            },
            cache: false
        });
    }

    $(document).ready(function () {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                defaultSeriesType: 'spline',
                events: {
                    load: requestData
                }
            },
            title: {
                text: 'Freezer Temperature'
            },
            xAxis: {
                type: 'datetime',
                tickPixelInterval: 150,
                maxZoom: 20 * 1000
            },
            yAxis: {
                minPadding: 0.2,
                maxPadding: 0.2,
                title: {
                    text: 'Temperature F',
                    margin: 80
                }
            },
            series: [{
                name: 'Freezer',
                data: []
            }]
        });
    });

</script>

</body>
</html>